@font-face {
  font-family: 'Neue Haas';
  src: url('/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Champ Black';
  src: url('/fonts/champ-Black.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
